/* -----------------------------------------------
				CSS Styles 
--------------------------------------------------


--------------------------------------------------

Table of Content
 	- Base
	- Global
	- Header
	- Home 
	- About 
	- Services 
	- Projects
  - Testimonials
	- Contact 
	- Footer
	- Page 404
	- Preloader 
  - Responsive
  - Dark Mode

----------------------------------- */
/* -----------------------------------
		 Base
----------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
  text-decoration: none !important;
}

*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #fff;
  color: #333333; /* 짙은 텍스트 색상으로 변경 */
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-family: "Muli", sans-serif;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  line-height: 1.4;
  color: #152035;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.main {
  height: 100%;
  margin-left: 100px;
  transition: all 0.5s ease;
}

a {
  outline: none !important;
  color: #454545;
  transition: all 0.5s ease;
}
a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -----------------------------------
		 Global
----------------------------------- */
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: block;
  margin-top: 6px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  border: 0;
  margin-bottom: 24px;
  transition: all 0.5s ease;
}
.card--img {
  padding: 0;
  margin-bottom: 24px;
  height: 100%;
}
.card--img:hover {
  box-shadow: 0px 5px 10px 0px rgba(52, 58, 64, 0.1);
}
.card--white {
  background-color: #fff;
}
.card--white:hover {
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.card--light {
  background-color: #f8f9fa;
}
.card--light:hover {
  box-shadow: 0px 5px 10px 0px rgba(52, 58, 64, 0.1);
}

.social-media {
  margin-bottom: 0;
  padding-left: 0;
}
.social-media__item {
  display: inline-block;
}
.social-media__link {
  padding-right: 12px;
  color: #454545;
}
.social-media__link:hover {
  color: #013220 !important;
}

.section {
  padding: 100px 30px 76px 30px;
}
.section--light {
  background-color: #f8f9fa;
}
.section--white {
  background-color: #fff;
}
.section__readmore {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
}
.section__readmore-link {
  color: #013220 !important;
}

.heading {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 5px;
  margin-bottom: 50px;
}
.heading__shape {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #152035;
  display: block;
  position: relative;
  margin-top: 12px;
}
.heading__shape:after {
  position: absolute;
  content: "";
  left: -6px;
  top: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #013220;
  z-index: -1;
}
.heading__content {
  flex: 1;
}
.heading__content h2 {
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 0;
}
.heading__content p {
  text-transform: capitalize;
  color: #6c757d;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination--active {
  background-color: #013220 !important;
  color: #ffffff !important;
  border: 1px solid #013220 !important;
}
.pagination__number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 800;
  margin-right: 6px;
  color: #454545;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.pagination__number.active,
.pagination__number:hover {
  background-color: #013220 !important;
  color: #ffffff;
  border: 1px solid #013220 !important;
}

/* ---------- Buttons ---------  */
.btn-view {
  border: none;
  background-color: #013220;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.btn-view:hover {
  color: #ffffff;
}

.btn-link {
  border: none;
  background-color: transparent;
  font-size: 30px;
  font-weight: 500;
  color: #243a73;
}
.btn-link:hover {
  color: #013220;
}

.btn-back {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #013220;
}
.btn-back:hover {
  color: #013220;
}

.btn-default {
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  background-color: #013220;
  line-height: 24px;
  border: 0;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  text-transform: capitalize;
  border-radius: 20px;
  z-index: 1;
  gap: 4px;
  transition: all 0.3s ease;
}
.btn-default i {
  font-size: 18px;
}
.btn-default::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #800020;
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.btn-default:hover::after,
.btn-default:focus::after {
  transform: scale(1);
}
.btn-default:hover,
.btn-default:focus {
  color: #ffffff !important;
  outline: none;
}

.btn__submit-spin {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border-width: 0.125rem;
  border-style: solid;
  border-color: #ffffff;
  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* -----------------------------------
		    Header 
----------------------------------- */
.header {
  position: fixed;
  background-color: #fff;
  z-index: 999;
  transition: all 0.5s ease;
}
.header--left {
  width: 100px;
  height: 100vh;
  border-right: 1px solid #f8f9fa;
}
.header--open {
  transform: translateX(0px) !important;
  width: 100%;
}
.header__logo {
  padding-top: 30px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100px;
  padding: 0px 0px;
}
.header__nav {
  transform: rotate(90deg) translateX(-54%);
  position: absolute;
  top: 54%;
  width: 100%;
}
.header__nav-cross {
  display: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: #013220;
  color: #ffffff;
}
.header__switch-mode {
  padding-bottom: 30px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-flow: row;
}
.nav__item {
  transform: rotate(-180deg);
  position: relative;
  margin: 0 20px;
}
.nav__link {
  text-transform: capitalize;
  padding: 0px 0px;
  font-weight: 700;
  font-size: 16px;
  color: #454545;
  font-family: "Muli", sans-serif !important;
}
.nav__link:after {
  position: absolute;
  content: "";
  left: 0px;
  top: auto;
  width: 6px;
  height: 6px;
  background-color: transparent;
  right: 0;
  bottom: -5px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.nav__link--active {
  color: #013220 !important;
}
.nav__link--active:after {
  background-color: #013220 !important;
}

.switch-mode {
  position: relative;
}
.switch-mode__btn {
  background-color: #f8f9fa;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-mode__icon {
  font-size: 16px;
}
.switch-mode__icon--light {
  display: none;
}

.button-toggle {
  right: 40px;
  top: 30px;
  z-index: 999;
  text-align: center;
  position: fixed;
  width: 35px;
  height: 35px;
  display: none;
  background-color: #013220;
  border-radius: 50%;
  border: 0;
}
.button-toggle span {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
}
.button-toggle span:after,
.button-toggle span:before {
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
}
.button-toggle span:after {
  bottom: -9px;
}
.button-toggle span:before {
  top: -9px;
}

.dark .switch-mode__icon--dark {
  display: none;
}

.dark .switch-mode__icon--light {
  display: block;
}

/* ------------------------------
		 Hero
------------------------------ */
.hero {
  background-size: cover;
  background-position: center center;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
}
.hero__img {
  -o-object-fit: cover;
  object-fit: cover;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 30px 0px;
}
.hero__banner {
  position: relative;
}
.hero__social-media .social-media__link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.banner__subtitle {
  font-weight: 400;
  letter-spacing: 1px;
  color: #013220 !important;
}
.banner__title {
  font-weight: 900;
  color: #013220 !important;
  display: flex;
  gap: 5px;
}
.banner__desc {
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #013220 !important;
}
.banner .btn-default {
  background-color: #013220 !important;
  color: #ffffff !important;
}

.info {
  width: 100%;
  display: flex;
}
.info__item {
  padding-right: 30px;
}
.info__label {
  color: #ffffff !important;
  font-weight: 900;
  font-family: "Muli", sans-serif;
}
.info__value {
  font-size: 15px;
  color: #ffffff !important;
  font-weight: 400;
}

/* ------------------------------
		 About 
------------------------------ */
.profile {
  position: relative;
  height: 100%;
}
.profile__img {
  border-radius: 20px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.details__desc {
  margin-bottom: 25px;
}
.details__list {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 0;
}
.details__list-item {
  margin-bottom: 10px;
  width: 50%;
  float: left;
}
.details__list-label {
  color: #152035;
  font-weight: 900;
  margin-right: 5px;
  text-transform: capitalize;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.feature__number {
  line-height: 1.2;
  color: #013220 !important;
  font-weight: 900;
  font-family: "Muli", sans-serif;
}
.feature__text {
  color: #152035;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  font-size: 16px;
}

.timeline {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.timeline__single {
  flex: 1;
}
.timeline__single__title {
  margin-bottom: 0px;
}
.timeline__item {
  display: flex;
  padding: 24px 0px;
  border-bottom: 1px solid #eee;
}
.timeline__item__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  background-color: #fff;
}
.timeline__item__content {
  padding: 0px 0px 0px 15px;
  flex: 1;
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.timeline__item__title {
  text-transform: capitalize;
  margin-bottom: 0px;
}
.timeline__item__info {
  font-size: 12px;
  display: inline-flex;
  font-weight: 700;
  gap: 6px;
  align-items: center;
  color: #152035;
  background-color: #ffffff;
  padding: 1px 10px;
  border-radius: 20px;
}
.timeline__item__info .dot {
  background-color: #013220 !important;
  margin-top: 0px;
}
.timeline__item__desc {
  margin-bottom: 0;
  font-size: 15px;
}
.timeline__item:first-child {
  padding-top: 0 !important;
}
.timeline__item:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

/* ------------------------------
		Services 
------------------------------ */
.service {
  text-align: center;
  transition: all 0.7s ease;
}
.service__img {
  padding: 20px;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.service__content__title {
  margin-bottom: 15px;
}
.service__content__desc {
  margin-bottom: 0;
}
/* ------------------------------
		 Project
------------------------------ */
.project-item {
  transition: all 0.7s ease-in-out;
}
.project-item__image {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.project-item__image__img {
  border-radius: 20px;
  transition: all 0.7s ease-in-out;
}
.project-item__image__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
}
.project-item__image__btn:hover {
  display: block;
}
.project-item__content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.project-item__content__title {
  margin-bottom: 6px;
  color: #152035;
  text-transform: capitalize;
}
.project-item__content__subtitle {
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
}
.project-item__light {
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
}
.project-item:hover {
  box-shadow: 0px 5px 10px 0px rgba(52, 58, 64, 0.1);
}
.project-item:hover .project-item__image__img {
  transform: scale(1.2);
}
.project-item:hover .project-item__image__btn {
  opacity: 1;
}
.project-item:hover .project-item__content__title {
  color: #013220;
}
.project-item:hover .btn-link {
  color: #013220;
}
.project-single__image {
  margin-bottom: 24px;
  height: 100%;
}
.project-single__image-img {
  border-radius: 20px;
}
.project-single__content-desc {
  margin-bottom: 0;
}
.project-single__content-title {
  text-transform: capitalize;
}
.project-single__details-list {
  padding-left: 0;
  margin-bottom: 0;
}
.project-single__details-item {
  margin-bottom: 12px;
}
.project-single__details-item:last-child {
  margin-bottom: 0;
}
.project-single__details-label {
  font-weight: 900;
  color: #152035;
  padding-right: 5px;
}
.project-single__details-value {
  margin-bottom: 0;
}

/* ------------------------------
		Testimonials
------------------------------ */
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #013220;
  border: 1px solid #013220;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: transparent;
}

.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background: #013220 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f8f9fa !important;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 24px;
}
.testimonial__image {
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.testimonial__image:after {
  position: absolute;
  content: "";
  bottom: 12px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: block;
}
.testimonial__image img {
  border-radius: 50%;
  border: 4px solid #fff;
}
.testimonial__text {
  margin-bottom: 0 !important;
  font-style: italic;
}
.testimonial__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.testimonial__info p {
  margin-bottom: 0;
  font-size: 15px;
  text-transform: capitalize;
}
.testimonial__info p:first-child {
  font-weight: 900;
}
.testimonial:hover .testimonial {
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.testimonial:hover .testimonial__image {
  border-color: #013220;
}
.testimonial:hover .testimonial__image:after {
  background-color: #013220;
}
.testimonial:hover .testimonial__info .dot {
  background-color: #013220;
}

/* ------------------------------
		Contact 
------------------------------ */
.contact__info-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact__info-item:last-child {
  margin-bottom: 0;
}
.contact__info-item-value {
  font-weight: 700;
  font-size: 16px;
}
.contact__info-item-icon {
  color: #ffffff;
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #013220;
  border-radius: 50%;
}
.contact-form__input {
  border-radius: 20px;
  padding: 12px 20px;
  border: 1px solid #f8f9fa;
  border-color: #f8f9fa;
  outline: none;
}
.contact-form__input:focus {
  outline: 2px solid #013220 !important;
  outline-offset: 2px;
}

/* ------------------------------
		 Footer
------------------------------ */
.footer {
  padding: 30px 0px;
  border-top: 1px solid #f8f9fa;
  background-color: #f8f9fa;
}
.footer__copyright {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0;
}

/* ------------------------------
		 Page404
------------------------------ */
.error-page {
  text-align: center;
}
.error-page__banner-img {
  margin-bottom: 20px;
}
.error-page__banner-title {
  margin-bottom: 4px;
}
.error-page__banner-desc {
  margin-bottom: 30px;
}

/* -----------------------------
		 Preloader 
--------------------------------- */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .spinner-border {
  border: 0.25em solid #013220;
  border-right-color: transparent;
}

/* -----------------------------
		Responsive
--------------------------------- */
@media screen and (max-width: 1200px) {
  .blog-single__content {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .header--left {
    transform: translateX(-100px);
    border-right: 0px;
  }
  .header--left .header__logo,
  .header--left .header__switch-mode {
    display: none;
  }
  .header--left .header__container {
    width: 100%;
    position: relative;
  }
  .header--left .header__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transform: rotate(0deg) translateX(0%);
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    z-index: 999;
  }
  .header--left .header__nav-cross {
    display: block;
  }
  .header--left .header__nav .nav {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .header--left .header__nav .nav__item {
    margin: 16px 20px;
    transform: rotate(0deg);
  }
  .header--left .header__nav .nav__link {
    padding: 15px 0;
    line-height: 1.5;
  }
  .header--left .header__nav .nav__link.active:after,
  .header--left .header__nav .nav__link:hover:after {
    bottom: -7px;
  }
  .main {
    margin-left: 0;
  }
  .button-toggle {
    display: block;
  }
  .section,
  .home {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .blog-single__content__footer {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
}
@media screen and (max-width: 567px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p,
  body {
    font-size: 15px;
  }
  .info__item:nth-child(2),
  .info__item:nth-child(3) {
    display: none;
  }
  .header__nav__cross,
  .button-toggle {
    right: 15px;
  }
  .details__list li {
    width: 100%;
  }
  .card {
    padding: 20px;
  }
  .card--img {
    padding: 0;
  }
  .section {
    padding: 80px 0px 56px 0px;
  }
  .home {
    padding: 0;
    background-position: unset !important;
  }
  .home__banner h1.cd-headline {
    font-size: 32px;
  }
}
@media screen and (max-width: 321px) {
  .timeline__item {
    flex-direction: column;
  }
  .timeline__item__img {
    width: 40px;
    height: 40px;
  }
  .timeline__item__content {
    padding: 10px 0px 0px 0px;
  }
}
/* ------------------------------
		 Dark
------------------------------ */
.dark {
  background-color: rgb(35, 35, 35);
}
.dark body {
  background-color: rgb(35, 35, 35);
  color: rgba(255, 255, 255, 0.8);
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a:hover,
.dark .project-single__details-label,
.dark .details__list li span,
.dark .portfolio-item:hover .portfolio-item__content .btn-link,
.dark .article:hover .article__content__title a {
  color: #ffffff;
}
.dark input::-moz-placeholder,
.dark textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.dark .feature__text,
.dark .btn-link,
.dark .article__content__title a,
.dark .btn-read-more,
.dark .item__social-media .social-media__link i,
.dark .nav__link,
.dark .switch-mode__icon i,
.dark a,
.dark p,
.dark .portfolio-single__details-item,
.dark .portfolio-single__content-desc,
.dark .details__desc,
.dark .timeline__item__type,
.dark .timeline__item__duration,
.dark .service__content__desc,
.dark .portfolio-item__content__subtitle,
.dark .testimonial__text,
.dark .testimonial__info,
.dark .article__content__desc,
.dark .article__content__meta,
.dark .details__list-item,
.dark .contact__info-item-value,
.dark .social-media__link,
.dark .contact__info-desc,
.dark .timeline__item__place,
.dark .contact-form__input,
.dark input::placeholder,
.dark textarea::placeholder,
.dark .pagination__number,
.dark .tags__link,
.dark .meta__info-date,
.dark .meta__info-author,
.dark .project-single__details-item,
.dark .timeline__item__year,
.dark .contact-item__social-media .social-media__link i {
  color: rgba(255, 255, 255, 0.8);
}
.dark .header,
.dark .section--white,
.dark .card--white,
.dark .contact-form__input,
.dark .pagination__number,
.dark .loading,
.dark .timeline__item__info {
  background-color: rgb(35, 35, 35);
}
.dark .card--light,
.dark .section--light,
.dark blockquote,
.dark .footer,
.dark .switch-mode__btn,
.dark .tags__link {
  background-color: rgb(29, 29, 29);
}
.dark .heading__content p {
  color: #eee;
}
.dark .pagination__number,
.dark .header--left,
.dark .footer,
.dark .contact-form__input,
.dark .timeline__item {
  border-color: rgba(255, 255, 255, 0.0509803922) !important;
}
.dark .testimonial__image img {
  border-color: rgb(35, 35, 35);
}
.dark .heading__shape {
  border-color: #ffffff;
}
.dark .blog-single__content__footer__social-media .social-media__link i {
  color: rgba(255, 255, 255, 0.8);
}
.dark .blog-single__content__footer__social-media .social-media__link i:hover {
  color: #013220;
}
