/* ------------------------------
		 Dark
------------------------------ */

.dark{
    background-color: $primary-color-dark;
    body{
        background-color: $primary-color-dark;
        color:$text-color-dark;  
    }

    h1, h2, h3, h4, h5, h6,a:hover,
    .project-single__details-label,
    .details__list li span,
    .portfolio-item:hover .portfolio-item__content .btn-link,
    .article:hover .article__content__title a {
        color:$heading-color-dark ;
    }
    
    
    .feature__text,
    .btn-link,
    .article__content__title a,
    .btn-read-more,
    .item__social-media .social-media__link i,
    .nav__link,
    .switch-mode__icon i,a,p,
    .portfolio-single__details-item,
    .portfolio-single__content-desc,
    .details__desc,
    .timeline__item__type,
    .timeline__item__duration,
    .service__content__desc,
    .portfolio-item__content__subtitle,
    .testimonial__text,
    .testimonial__info,
    .article__content__desc,
    .article__content__meta,
    .details__list-item,
    .contact__info-item-value,
    .social-media__link,
    .contact__info-desc,
    .timeline__item__place,
    .contact-form__input,
    input::placeholder,
    textarea::placeholder,
    .pagination__number,
    .tags__link,
    .meta__info-date, .meta__info-author,
    .project-single__details-item,
    .timeline__item__year,
    .contact-item__social-media .social-media__link i{
        color:$text-color-dark; 
    }

   
    .header,
    .section--white,
    .card--white,
    .contact-form__input,
    .pagination__number,
    .loading,
    .timeline__item__info{
        background-color: $primary-color-dark;
    }

    .card--light,
    .section--light,
    blockquote,
    .footer,
    .switch-mode__btn,
    .tags__link{
        background-color: $secondary-color-dark;
    }
    
    .heading__content p {
      color:$muted-color-dark
    }

    .pagination__number,
    .header--left,
    .footer,
    .contact-form__input,
    .timeline__item{
        border-color: $border-color-dark !important;
    }
    .testimonial__image img{
        border-color:$primary-color-dark;
    }
  
    .heading__shape{
        border-color: $white-color;
    }
    .blog-single__content__footer__social-media .social-media__link i{
        color:$text-color-dark ; 
        &:hover{
            color:$accent-color;
        }
    }
    // input::placeholder {
    //     color: red; /* Change this to the color you desire */
    // }
    
}